/*stylesheet*/

.article div{
	background-color: pink;

}

.masthead{

	width: 840pc;
	border: black;
	padding: 10px;
	margin: 20px;
}

#site_wrap { 
	background-color:lightpink;
	height:200vh; 
	max-width: 900;
	padding: 20px;
	
}

div{
	display: block;
}





		










