body{
background color: hotpink;
}

#wrapper {
  margin: 2em auto;
  max-width: 960px;
  padding: 0 20px;

}

.article {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 60px 0 20px 0;
  
}

.article div {
  background-color:darkgray;
}

.box {
  float: right; 
  width: 230px;
  border: solid black 3px;
  padding: 10px;
  margin: 20px;
}

.masthead {
  width: 840px;
  height: 250px;
  padding: 10px;
  margin: 20px;
  font-size: 30px;
  
}

.firstpara {
width: 500px;


}









		










