/*stylesheet*/


.heading {
	
    margin-left: 0;
    --type-token-name: consumptionEditorial.body-core;
    line-height: 1.53em;
    letter-spacing: normal;
    font-family: SourceSerifPro,helvetica,sans-serif;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    min-height: 100%;
    
}




	d
#wrapper {
	margin: 2em auto;
	max-width: 960px;
	padding: 0 20px;

}


}

.box {
	box-sizing: content-box;
	width: 300px;
	border: solid black 3px;
	padding: 10px;
	margin: 20px;

}


